/*------------------------------------*\
    #GENERAL-STYLES
\*------------------------------------*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
}

html,
body,
.wrapper,
.side-bar {
    height: 100%;
}





/*------------------------------------*\
    #TOOLBAR-STYLES
\*------------------------------------*/

.tool-bar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 45px;
    vertical-align: middle;
    border-bottom: 1px solid #f0f0f0;
}

.heading,
.flash-box,
.controls {
    position: absolute;
    display: inline-block;
    margin: 0 15px;
}

.heading {
    top: 10px;
    font-size: 22px;
}

.flash-box {
    top: 13px;
    left: 320px;
    width: 200px;
}

.controls {
    top: 13px;
    right: 0;
}

.controls a {
    text-decoration: none;
}





/*------------------------------------*\
    #SIDE-BAR-STYLES
\*------------------------------------*/

.side-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 320px;
    padding: 45px 0;
    border-right: 1px solid #f0f0f0;
}

.notebooks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notebook-title {
    padding: 20px 20px;
}

.notebook-title:hover {
    background: #fafafa;
    cursor: pointer;
}





/*------------------------------------*\
    #MAIN-CONTENT-STYLES
\*------------------------------------*/

.main-content {
    padding: 40px;
    position: absolute;
    top:  45px;
    bottom: 0;
    right: 0;
    left: 320px;
    overflow: scroll;
}

.note-input {
    width: 100%;
    resize: none;
    border: none;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.note-input:focus {
    outline: 0;
}

.note-submit {
    position: absolute;
    top: 43px;
    right: 40px;
    padding: 5px 15px;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    border-radius: 13px;
}

.note-submit:hover {
    color: #000;
}

#note-input-title {
    width: 200px;
    border-bottom: 1px solid #f0f0f0;
}

#note-input-content {
    height: 125px;

}





/*------------------------------------*\
    #FOOTER-STYLES
\*------------------------------------*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #eee;
    font-family: 'Courgette', cursive;
}




