/*------------------------------------*\
    #GENERAL-STYLES
\*------------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
      font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html,
body,
.notebooks,
.sidebar {
    height: 100%;
}

body {
    padding-top: 35px;
    background: #efefef;
}





.btn-login {
    display: inline-block;
    height: 30px;
    padding-top: 5px;
}

.column-half {
    display: inline-block;
    width: 49%;
}

.column-third {
    display: inline-block;
    width: 32%;
}




/*------------------------------------*\
    #LOGIN-VIEW-STYLES
\*------------------------------------*/

.login-page {
    padding-top: 54px;
    background: #fff;
    margin: 0 auto;
    max-width: 1000px;
}

.login-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1000px;
    border-bottom: 1px solid #eee;
}

.login-header > * {
    vertical-align: middle;
}

.logo-box {
    display: inline-block;
}

.logo-box > a > * {
    vertical-align: middle;
}

.logo-box a {
    text-decoration: none;
}

.logo-pencil {
    display: inline-block;
    height: 32px;
    width: 32px;
    padding: 5px 0 0;
    background: #2196F3;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

.logo-heading {
    display: inline-block;
    margin: 5px 5px;
    color: #353535;
    font-family: 'Lato', sans-serif;
}

.page-splash {
    padding: 120px 0 80px;
    
}

.splash-heading {
    font-weight: 300;
}

.info-card {
    border-top: 18px solid #2196f3;
}

.info-card > * {
    vertical-align: top;
}

.info-card p {
    display: inline-block;
    width: 80%
}

.icon {
    display: inline-block;
    margin: 16px 16px 0 16px;
    color: #555;
}



/*------------------------------------*\
    #PRIMARY-TOOLBAR-STYLES
\*------------------------------------*/

.primary-toolbar {
    background: #673AB7;
    color: #fff;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.primary-toolbar-heading,
.primary-toolbar-flash,
.secondary-toolbar-flash {
    font-size: 18px;
    margin: 5px 10px;
}

.primary-toolbar-flash,
.secondary-toolbar-flash {
    color: #651FFF;
    font-weight: normal;
}


.heading-xl {
    margin-top: 8px;
    margin-left: 20px;
    font-size: 24px;
}

.toolbar-section {
    display: inline-block;
    width: 49%;

}




/*------------------------------------*\
    #PAGE-STYLES
\*------------------------------------*/





.notes-page .primary-toolbar {
    left: 300px;
    right: 0;
    width: inherit;
    height: 31px;
}

.notes-page .link-primary {
    display: inline-block;
    padding-top: 4px;
}





/*------------------------------------*\
    #SECONDARY-TOOLBAR-STYLES
\*------------------------------------*/

.secondary-toolbar {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.secondary-toolbar-heading {
    padding-left: 15px;
}

.secondary-toolbar-heading a {
    color: #000;
    text-decoration: none;
}





/*------------------------------------*\
    #VIEW-NOTES-STYLES
\*------------------------------------*/

.sidebar {
    position: absolute;
    top: 0px;
    left: 0;
    width: 300px;
    background: #673AB7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    z-index: 2;
}

.sidebar-heading {
    margin: 10px 15px;
    color: #fff;
}

.sidebar-heading a {
    color: #fff;
    text-decoration: none;
}
.sidebar-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-item {
    
    color: #fff;
    cursor: pointer;
}

.sidebar-item:hover {
    background: #9575CD;
}

.sidebar-item a {
    text-decoration: none;
    color: #fff;
    display: inline-block;

    width: 100%;
    padding: 15px;
}



/*------------------------------------*\
    #VIEW-NOTEBOOKS-STYLES
\*------------------------------------*/

.card {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 225px;
    margin: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0;
    vertical-align: top;
    cursor: pointer;
}

.card:hover {
    /* Increase shadow to give appearance of raising up */
    opacity: 0.8;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease

}

.card-title {
    margin-top: 35px;
    color: #444;
}

.form-nb-delete {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

.notebook-edit {
    display: inline-block;
    position: absolute;
    bottom: 13px;
    right: 80px;
    font-size: 16px;
    padding: 5px 10px;
}

/*------------------------------------*\
    #VIEW-NEW-NOTEBOOKS-STYLES
\*------------------------------------*/

.card-xl {
    height: 325px;
    width: 300px;
    padding: 30px;
    cursor: inherit;
    position: relative;
}

.card-xl:hover {
    opacity: inherit;
}

.notebook-controls {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

#title {
    font-weight: bold;
}

.notebook-controls a,
.notebook-controls input[type="submit"] {
    background: #7C4DFF;
    color: #fff;
    border-radius: 2px;
    width: 90px;
}



/*------------------------------------*\
    #VIEW-NOTES-STYLES
\*------------------------------------*/

.container-note {
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    padding: 70px 35px 35px;
    height: 100%;
    background: #fff
}

.container-note .form-note {
    height: 100%;
}

.container-note .form-note textarea {
    height: 100%;
    margin-bottom: 0;
}

.note-submit {
    position: absolute;
    top: 58px;
    right: 120px;
    padding: 5px 15px;
}

#note-input-title {
    width: 200px;
    border-bottom: 1px solid #f0f0f0;
}

.form-note-delete input {
    position: absolute;
    top: 58px;
    right: 40px;
}





/*------------------------------------*\
    #MATERIAL-DESIGN-BUTTON-STYLES
\*------------------------------------*/

.btn-arrow {
    background-color: #673AB7;
    border-radius: 50%;
    bottom: 6%;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    color: #404040;
    cursor: pointer;
    font-size: 2.2em;
    height: 1.5em;
    font-family: "font-icon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    pointer-events: none;
    position: absolute;
    right: 30px;
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: 1.5em;

    -moz-transition-property: opacity,-moz-transform,bottom,background,box-shadow;
    -o-transition-property: opacity,-o-transform,bottom,background,box-shadow;
    -webkit-transition-property: opacity,-webkit-transform,bottom,background,box-shadow;
    transition-property: opacity,transform,bottom,background,box-shadow;
    -moz-transition-duration: .5s,1s,1s,.25s,.25s;
    -o-transition-duration: .5s,1s,1s,.25s,.25s;
    -webkit-transition-duration: .5s,1s,1s,.25s,.25s;
    transition-duration: .5s,1s,1s,.25s,.25s;
    -moz-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,cubic-bezier(.4,0,.2,1),cubic-bezier(.4,0,.2,1);
    -o-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,cubic-bezier(.4,0,.2,1),cubic-bezier(.4,0,.2,1);
    -webkit-transition-timing-function: ease-in-out,ease-in-out,ease-in-out,cubic-bezier(.4,0,.2,1),cubic-bezier(.4,0,.2,1);
    transition-timing-function: ease-in-out,ease-in-out,ease-in-out,cubic-bezier(.4,0,.2,1),cubic-bezier(.4,0,.2,1)
}

.btn-arrow:active {
    background: #512DA8;
    box-shadow: 0 7px 15px rgba(0,0,0,.35);
}

.btn-arrow.active {
    opacity: 1;
    pointer-events: auto;
    -moz-transition-delay: .75s,0,0,0,0;
    -o-transition-delay: .75s,0,0,0,0;
    -webkit-transition-delay: .75s,0,0,0,0;
    transition-delay: .75s,0,0,0,0;
}





/*------------------------------------*\
    #HELPER-STYLES
\*------------------------------------*/

.fa-book {
    padding-top: 50px;
    color: #aaa;
}


/*------------------------------------*\
    #HELPER-STYLES
\*------------------------------------*/

.link-primary {
    text-decoration: none;
    padding: 2px 5px;
    color: #fff;
}

.link-invert {
    color: #651FFF;
}

.primary-toolbar.void {
    box-shadow: none;
    background: #D1C4E9;
}

.void a {
    color: #7C4DFF;
}

.footer.void {
    left: 300px;
    right: 0;
    width: initial;
}

.clear-input {
    width: 100%;
    resize: none;
    border: none;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.clear-input:focus {
    outline: 0;
}

.btn-default {
    background-color: transparent;
    border: none;
    color: #651FFF;
    text-decoration: none;
}

.btn-primary {

}

/*------------------------------------*\
    #FOOTER-STYLES
\*------------------------------------*/

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Courgette', cursive;
}
