{% extends "wrapper_main.html" %}
{% block content %}

<div class="wrapper">

    <div class="tool-bar">
        <h2 class="heading">notebooks</h2>
        <div class="flash-box">
            <!-- flash messages will go here -->
            this is a flash message
        </div>

        <div class="controls">
            <a href="{{url_for('gdisconnect')}}">logout</a>
        </div>
    </div> <!-- end .tool-bar -->

    <div class="side-bar">
        <ul class="notebooks">
            <li>
                <div class="notebook-title">Work Stuff</div>
            </li>
            <li>
                <div class="notebook-title">Code Review</div>
            </li>
            <li>
                <div class="notebook-title">Books</div>
            </li>

        </ul>
   </div> <!-- end .side-bar -->

   <div class="main-content">
        <div class="container-new-note">
            <form>
                <input type="text" id="note-input-title" class="note-input" name="title" placeholder="title">
                <textarea id="note-input-content" class="note-input" name="content" placeholder="write content here..."></textarea>
                <input type="submit" class="note-submit" value="add">
            </form>
        </div>
        <h3>notes</h3>
        <div class="notes">
            <div class="note">
                <div class="title">
                    title of note
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
                <div class="timestamp">
                    5-15-2015
                </div>
                <form class="copy-paste">
                    <input type="submit" value="" class="cp-submit">
                    <i class="fa fa-clipboard"></i>
                </form>
                <div class="note-controls">
                    <form class="edit">
                        <input type="submit" value="edit">
                    </form>
                    <form class="delete">
                        <input type="submit" value="delete">
                    </form>
                </div>
            </div>
            <div class="note">
                <div class="title">
                    title of note
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
                <div class="timestamp">
                    5-15-2015
                </div>
                <form class="copy-paste">
                    <input type="submit" value="" class="cp-submit">
                    <i class="fa fa-clipboard"></i>
                </form>
                <div class="note-controls">
                    <form class="edit">
                        <input type="submit" value="edit">
                    </form>
                    <form class="delete">
                        <input type="submit" value="delete">
                    </form>
                </div>
            </div>
        </div>

    </div> <!-- end .main-content -->

</div> <!-- end .wrapper -->

{% endblock %}
