{% extends "wrapper_main.html" %}
{% block content %}

<div class="wrapper">

    <div class="tool-bar">
        <h2 class="heading">notebooks</h2>
        <div class="flash-box">
            <!-- flash messages will go here -->
            this is a flash message
        </div>

        <div class="controls">
            <a href="{{url_for('gdisconnect')}}">logout</a>
        </div>
    </div> <!-- end .tool-bar -->

    <div class="side-bar">
        <ul class="notebooks">
            <li>Work</li>
            <li>Programming</li>
            <li>Quotes</li>
        </ul>
   </div> <!-- end .side-bar -->

   <div class="main-content">
        <div class="container-new-note">
            <form>
                <div class="form-group">
                    <textarea></textarea>
                </div>
                <input type="submit" value="SUBMIT">
            </form>
        </div>

        <div class="notes">
            <div class="note">
            </div>
            <div class="note">
            </div>
            <div class="note">
            </div>
        </div>

    </div> <!-- end .main-content -->

</div> <!-- end .wrapper -->

{% endblock %}
