{% extends "wrapper_main.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>notebooks</h2>
        </div>
        <div class="col-8">
            <!-- flash messages will go here -->
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="list-notebooks">
                <ul>
                    <li>Work</li>
                    <li>Programming</li>
                    <li>Quotes</li>
                </ul>
            </div>
        </div>
        <div class="col-8">
            <div class="note">
            </div>
            <div class="note">
            </div>
            <div class="note">
            </div>
        </div>
    </div>
</div>

{% endblock %}
