{% extends "wrapper_notebooks.html" %}
{% block content %}

<div class="notebooks text-center">
    <div class="card">
        <div class="card-content">
            <i class="fa fa-pencil-square-o fa-4x"></i>
        </div>
        <div class="card-content">
            <form method="POST">
                <input type="text" name="title" id="title" placeholder="Name of notebook?" maxlength="30" class="title-edit" value="{{notebook.name}}">
                
                <div class="notebook-controls">
                    <input type="submit" value="save" class="btn-default">
                    <a href="/" class="btn-default">cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
