{% extends "wrapper_main.html" %}
{% block content %}

<div class="primary-toolbar">
    <div class="toolbar-section">
        <h1 class="primary-toolbar-heading">Vanilla note</h1>
    </div>
    <div class="toolbar-section text-right">
        <a href="#" class="link-primary">logout</a>
    </div>
</div>

<div class="secondary-toolbar">
    <h2 class="secondary-toolbar-heading">Notebooks</h2>
</div>

<div class="notebooks text-center">
    <div class="card">
    </div>
    <div class="card">
    </div>
    <div class="card">
    </div>
</div>

<div class="btn-arrow active">
</div>
<footer class="footer text-center">

    <p class="copy-right"> Vanilla Note Copyright &copy; 2015</p>

</footer>
{% endblock %}
