{% extends "wrapper_notes.html" %}
{% block content %}

<div class="container-note">

    <!-- FORM with title content and save -->
 
            <form>
                <input type="text" id="note-input-title" class="clear-input" name="title" placeholder="Title goes here" value="CS 51 Algorithms">
                <textarea id="note-input-content" class="clear-input" name="content" placeholder="Write your note here...">Today we learned about algorithms and all the great things they can do.

I wasn't surprised at all because thats the way the cookie crumbles.

Today I'd like to find a way to surpass previous escapades.

1. Test
2. Test more
3. Test even more.
</textarea>
                <input type="submit" class="btn-default note-submit" value="save">
            </form>

</div>

<div class="btn-arrow active"><a href="{{url_for('newNote', notebook_id=notebook_id)}}">+</a></div>
<footer class="footer void text-center">

    <p class="copy-right"> Vanilla Note Copyright &copy; 2015</p>

</footer>
{% endblock %}
