{% extends "wrapper_notebooks.html" %}
{% block content %}

<div class="secondary-toolbar">
    <h2 class="secondary-toolbar-heading"><a href="/">Notebooks</a> > New</h2>
</div>

<div class="notebooks text-center">
    <div class="card card-xl">
        <form method="POST">
            <input type="text" name="title" id="title" placeholder="Name of notebook?" maxlength="30" class="clear-input">
            <i class="fa fa-book fa-5x"></i>
            <div class="notebook-controls">
                <input type="submit" value="save" class="btn-default">
                <a href="/" class="btn-default">cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
