{% extends "wrapper_login.html" %}
{% block content %}

<div class="page-splash text-center">
    <h2 class="splash-heading">"A plain note taking experience."</h2>
   <!--  <span>{{STATE}}</span> -->
</div>
<div class="column-third info-card">
    <div class="icon">
        <i class="fa fa-bookmark fa-2x"></i>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</div>
<div class="column-third info-card">
    <div class="icon">
        <i class="fa fa-pencil fa-2x"></i>
    </div>
    <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</div>
<div class="column-third info-card">
    <div class="icon">
        <i class="fa fa-fire fa-2x"></i>
    </div>
    <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

{% endblock %}
