{% extends "wrapper_notes.html" %}
{% block content %}

<div class="primary-toolbar void">
    <div class="toolbar-section">
        <h1 class="primary-toolbar-heading">Vanilla note</h1>
    </div>
    <div class="toolbar-section text-right">
        <a href="#" class="link-primary">logout</a>
    </div>
</div>

<div class="sidebar">
    <h2 class="sidebar-heading"><a href="/">Notebook</a> > <a href="{{url_for('showNotes', notebook_id=notebook_id)}}">Notes</a></h2>
    <ul class="sidebar-items">
        {% for note in notes %}
        <li class="sidebar-item">{{ note.title }}</li>
        {% endfor %}
    </ul>
</div>

<div class="container-note">

    <!-- FORM with title content and save -->
 
            <form>
                <input type="text" id="note-input-title" class="clear-input" name="title" placeholder="Title goes here" value="CS 51 Algorithms">
                <textarea id="note-input-content" class="clear-input" name="content" placeholder="Write your note here...">Today we learned about algorithms and all the great things they can do.

I wasn't surprised at all because thats the way the cookie crumbles.

Today I'd like to find a way to surpass previous escapades.

1. Test
2. Test more
3. Test even more.
</textarea>
                <input type="submit" class="btn-default note-submit" value="save">
            </form>

</div>

<div class="btn-arrow active"><a href="{{url_for('newNote', notebook_id=notebook_id)}}">+</a></div>
<footer class="footer void text-center">

    <p class="copy-right"> Vanilla Note Copyright &copy; 2015</p>

</footer>
{% endblock %}
