{% extends "wrapper_notebooks.html" %}
{% block content %}


<div class="notebooks text-center">
    <div class="card">
        <div class="card-content">
            <h2 class="new-title">New Notebook!</h2>
        </div>
        <div class="card-content">
            <form method="POST">
                <input type="text" name="title" id="title" placeholder="Name of notebook?" maxlength="30" class="title-edit">
                <div class="notebook-controls">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <a href="/" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
