{% extends "wrapper_notes.html" %}
{% block content %}

<div class="primary-toolbar void">
    <div class="toolbar-section">
        <h1 class="primary-toolbar-heading">Vanilla note</h1>
    </div>
    <div class="toolbar-section text-right">
        <a href="#" class="link-primary">logout</a>
    </div>
</div>

<div class="sidebar">
    <h2 class="sidebar-heading"><a href="/">Notebook</a> > <a href="/notebook">Notes</a></h2>
    <ul class="sidebar-items">
        <li class="sidebar-item">CS 51 Algorithms</li>
        <li class="sidebar-item">CS 101 Structures</li>
        <li class="sidebar-item">CS 152 OS</li>
        <li class="sidebar-item">Study Plan</li>
        <li class="sidebar-item">Cheat sheet</li>
    </ul>
</div>

<div class="container-note">

    <form>
        <input type="text" id="note-input-title" class="clear-input" name="title" placeholder="Title goes here">
        <textarea id="note-input-content" class="clear-input" name="content" placeholder="Write your note here...">
</textarea>
        <input type="submit" class="btn-default note-submit" value="add new note">
    </form>

</div>

<footer class="footer void text-center">
    <p class="copy-right"> Vanilla Note Copyright &copy; 2015</p>
</footer>
{% endblock %}
