{% extends "wrapper_notebooks.html" %}
{% block content %}

<div class="secondary-toolbar">
    <h2 class="secondary-toolbar-heading"><a href="/">Notebooks</a></h2>
</div>
<div class="notebooks text-center">
    {% for notebook in notebooks %}
        <div class="card">
            <a href="{{url_for('newNote', notebook_id=notebook.id)}}">
                <i class="fa fa-book fa-5x"></i>
                <h2 class="card-title">{{notebook.name}}</h2>
            </a>
            <a href="{{url_for('editNotebook', notebook_id=notebook.id)}}" class="link-primary link-invert notebook-edit">edit</a>
            <form action="{{url_for('deleteNotebook', notebook_id=notebook.id)}}" method="POST" class="form-nb-delete">
                <input type="submit" value="delete" class="clear-input btn-default">
            </form>
        </div>
    {% endfor %}

</div>

<div class="btn-arrow active"><a href="{{url_for('newNotebook')}}">+</a></div>

{% endblock %}
