<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vanilla Note</title>
    <link href="{{ url_for('static', filename='css/normalize.css)}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/grid.css)}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css)}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css)}}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="main-logo"><a href="#">Vanilla Note</a></h1>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="copy-right">Copyright &copy; 2015 Vanilla Note</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>