<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vanilla Note</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed|Courgette' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>
<body class="login-page">
    <header class="login-header">
        <div class="column-half">
            <div class="logo-box">
                <a href="/">
                    <div class="logo-pencil"><i class="fa fa-pencil"></i></div>
                    <h1 class="logo-heading">Vanilla note</h1>
                </a>
            </div>
        </div>
        <div class="column-half text-right">
            <div id="signInButton" class="btn-login">
                <span class="g-signin"
                data-scope="openid email"
                data-clientid="980973912000-75uth7aseggpkhdp099henelus6c23pv.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
                </span>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}
    <div id="result"></div>
    <footer class="footer text-center">
        <p class="copy-right"> Vanilla Note Copyright &copy; 2015</p>
    </footer>
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Hide the sign-in button now that the user is authorized
                $('#signinButton').attr('style', 'display: none');
            
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/";
                            }, 4000);
                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    } // end success callback
                }); // end ajax
            } // end if
        } // end signInCallback
    </script>
</body>
</html>