<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vanilla Note</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
</head>
<body class="page-notes">
    <header class="notes-header">
        <div class="primary-toolbar">
            <div class="column-half">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h2 class="primary-toolbar-flash">{{ message }}</h2>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="column-half text-right">
                <a href="{{url_for('gdisconnect')}}" class="link-primary link-invert">Sign out</a>
            </div>
        </div>
        <div class="sidebar">
            <h2 class="sidebar-heading"><a href="/">Notebooks</a> > <a href="{{url_for('newNote', notebook_id=notebook_id)}}">Notes</a></h2>
            <ul class="sidebar-items">
                <li class="sidebar-item">
                    <a href="{{url_for('newNote', notebook_id=notebook_id)}}">
                        <i class="fa fa-plus-circle fa-mod"></i>
                        <span>Add new note!</span>
                    </a>
                </li>
                {% for note in notes %}
                    <li class="sidebar-item">
                        <a href="{{url_for('viewNote', notebook_id=note.notebook_id, note_id=note.id)}}">{{ note.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer void text-center">
        <p class="copy-right"> Vanilla Note Copyright &copy; 2015</p>
    </footer>
</body>
</html>